# path:   /home/klassiker/Projects/repos/surf/.gitignore
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/surf
# date:   2026-06-21T03:47:02+0200

/config.h
/surf
/surf.o
/webext-surf.o
/webext-surf.so
