# path:       /home/klassiker/.local/share/repos/surf/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/surf
# date:       2020-11-13T14:40:10+0100

/config.h
/surf
/surf.o
/webext-surf.o
/webext-surf.so
